@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    border: 0;
}
@media (prefers-color-scheme: dark) {
    .adaptivebg {
        background: #111;
    }
    .shadow {
        filter: drop-shadow(3px 3px 3px #666);
    }
    .shadowinvert {
        filter: invert(100%) brightness(90%) drop-shadow(3px 3px 3px #666);
    }
}
@media (prefers-color-scheme: light) {
    .adaptivebg {
        background: #fefefe;
    }
    .shadow {
        filter: drop-shadow(3px 3px 3px #aaa);
    }
    .shadowinvert {
        filter: drop-shadow(3px 3px 3px #aaa);
    }
}
.column {
    float: left;
    padding: 5px;
}
.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}
.main-row {
    height:100vh;
}
.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}