@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    border: 0;
}
.shadow {
    filter: drop-shadow(3px 3px 6px #aaa);
}
.column {
    float: left;
    padding: 5px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    height:100vh;
}
.row::after {
    content: "";
    clear: both;
    display: table;
} 
.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}